{% extends "base.html" %}


{% block content %}
<h1>Confirm Post</h1>

<iframe src="{{ youtube_embed_url }}"></iframe>
<h3>{{ title }}</h3>
<p>{{ content }}</p>

<a href="{{ youtube_original_url }}" target="_blank">Watch this video at Youtube</a>

<form action="{% url "posts:create" %}" method="POST">
	<p> Do you want to post with this content? </p>
	{% csrf_token %}
	<input type="hidden" name="title" value="{{ title }}">
	<input type="hidden" name="video_id" value="{{ video_id }}">
	<input type="hidden" name="content" value="{{ content }}">
	<input type="submit" name="Confirm and Post">
</form>

{% endblock %}
